{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}AEIR - Administration{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <form method="post">
      {% csrf_token %}
      <div class="input-group"> 
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
        </span> 
        <input id="username" type="text" class="form-control" name="username" required="required" placeholder="Identifiant"> 
      </div> 
      </br>
      <div class="input-group"> 
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> 
        <input id="password" type="password" class="form-control" name="password" required="required" placeholder="Mot de passe"> 
      </div> 
      <hr>
      <div class="row justify-content-center">
        <input class="btn btn-primary" type="submit" value="Récupérer ma carte Amicaliste">
      </div>
    </form>
  </div>
</div>

{% endblock %}