{% extends 'base.html' %} 

{% block title %}AEIR - Actualités{% endblock %}

{% block content %}

<div class='row'>
    <div class="card mb-3 w-100 shadow">
        <div class="row">
          <div class="col-md-3 m-auto">
            <div class="pt-3 pl-3 pr-3">
              <img class="card-img-top rounded-circle" src="{{ object.logo.thumbnail.url }}" alt="Card image cap">
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>{{ object }}</strong></h5>
          <p class="card-text">{{ object.description|safe }}</p>
          <p class="card-text"></p>
          <div class="card-text"><small class="text-muted">{{ object.mail }}</small></div>
          <div class="card-text"><small class="text-muted">{{ object.website }}</small></div>
        </div>
    </div>
</div>

{% endblock %}
