{% extends 'base.html' %} 

{% block title %}AEIR - Actualités{% endblock %}

{% block content %}

<div class='row'>
    <div class="card mb-3 w-100 shadow">
        <img class="card-img-top" src="{{ object.picture.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><strong>{{ object.name }}</strong></h5>
          <p class="card-text">{{ object.description|safe }}</p>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">{{ object.date }}</small></p>
        </div>
    </div>
</div>

{% endblock %}
