{% extends 'base.html' %} 

{% block title %}AEIR - L'équipe{% endblock %}

{% block content %}

<div class='container'>
    {% if object_list %}
        <div class='row'>
        {% for obj in object_list %}
            <div class="col-md-3 text-center">
                <div class="card mb-3 shadow hvr-grow">
                    <img class="card-img-top img-fluid" src="{{ obj.picture.thumbnail.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ obj }}</h5>
                        <div class="card-text">{{ obj.post }}</div>
                        <div class="card-text"><small class="text-muted">{{ obj.mail }}</small></div>
                    </div>
                </div>
            </div>         
        {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}
