{% extends 'base.html' %}

{% block title %}AEIR - Administration{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="card mb-3 shadow hvr-grow w-100">
            <h5 class="card-header bg-primary text-white text-center">Gestion des adhésions</h5>
            <div class="card-body">
                <div class="card-text mb-2">
                    <button class="btn btn-info w-100"><i class="fas fa-list"></i> <a href="{% url 'adherent_list' %}" class="text-white" style="text-decoration: none;">Liste des amicalistes</a></button>
                </div>
                <div class="card-text mb-2">
                    <button class="btn btn-info w-100"><i class="fas fa-address-card"></i> <a href="{% url 'new_adherent_list' %}" class="text-white" style="text-decoration: none;">Gestion des nouvelles adhésions</a></button>
                </div>
                <div class="card-text mb-2">
                    <button class="btn btn-info w-100"><i class="fas fa-search"></i> <a href="{% url 'adherent_search' %}" class="text-white" style="text-decoration: none;">Rechercher un Amicaliste</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3 shadow hvr-grow w-100">
            <h5 class="card-header bg-primary text-white text-center">Gestion du contenu</h5>
            <div class="card-body">
                <div class="card-text mb-2">
                    <button class="btn btn-info w-100"><i class="fas fa-cog"></i> <a href="{% url 'global_parameters_update' %}" class="text-white" style="text-decoration: none;">Paramètres du site</a></button>
                </div>
                <div class="card-text mb-2">
                    <button class="btn btn-info w-100"><i class="fas fa-newspaper"></i> <a href="{% url 'news_list' %}" class="text-white" style="text-decoration: none;">Page des actualités</a></button>
                </div>
                <div class="card-text mb-2">
                    <button class="btn btn-info w-100"><i class="fas fa-user"></i> <a href="{% url 'team_list' %}" class="text-white" style="text-decoration: none;">Page du bureau</a></button>
                </div>
                <div class="card-text mb-2">
                    <button class="btn btn-info w-100"><i class="fas fa-handshake"></i> <a href="{% url 'partner_list' %}" class="text-white" style="text-decoration: none;">Page des partenariats</a></button>
                </div>
                <div class="card-text mb-2">
                    <button class="btn btn-info w-100"><i class="fas fa-calendar-day"></i> <a href="{% url 'event_list' %}" class="text-white" style="text-decoration: none;">Page des événements</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3 shadow hvr-grow w-100">
            <h5 class="card-header bg-primary text-white text-center">Gestion des clubs</h5>
            <div class="card-body">
                <div class="card-text mb-2">
                    <button class="btn btn-info w-100"><i class="fas fa-hand-scissors"></i> <a href="{% url 'club_list' %}" class="text-white" style="text-decoration: none;">Page des clubs</a></button>
                </div>
                <div class="card-text mb-2">
                    <button class="btn btn-info w-100"><i class="fas fa-ticket-alt"></i> <a href="{% url 'event_management_list' %}" class="text-white" style="text-decoration: none;">Liste des événements</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3 shadow hvr-grow w-100">
            <h5 class="card-header bg-primary text-white text-center">Changement d'année</h5>
            <div class="card-body">
                <div class="card-text mb-2">
                    <button class="btn btn-info w-100"><i class="fas fa-book-dead"></i> <a href="{% url 'archived_adherent_search' %}" class="text-white" style="text-decoration: none;">Anciennes adhésions</a></button>
                </div>
                <div class="card-text mb-2">
                    <button class="btn btn-info w-100"><i class="fas fa-file-upload"></i> <a href="{% url 'import_adhesion' %}" class="text-white" style="text-decoration: none;">Importer des adhésions</a></button>
                </div>
                <div class="card-text mb-2">
                    <button class="btn btn-danger w-100"><i class="fas fa-plus-square"></i> <a href="{% url 'change_year' %}" class="text-white" style="text-decoration: none;">Changement d'année</a></button>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-3 m-auto hvr-grow">
        <a href="{% url 'logout' %}" class="btn btn-primary form-control">Déconnexion</a>
    </div>
</div>

{% endblock %}
