{% extends 'base.html' %}

{% block title %}AEIR - Administration{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="card mb-3 shadow hvr-grow w-100">
            <h5 class="card-header bg-primary text-white text-center">Gestion des adhésions</h5>
            <div class="card-body">
                <div class="card-text mb-2">
                    <a href="{% url 'adherent_list' %}" class="text-white" style="text-decoration: none;"><button class="btn btn-info w-100"><i class="fas fa-list"></i> Liste des amicalistes</button></a>
                </div>
                <div class="card-text mb-2">
                    <a href="{% url 'new_adherent_list' %}" class="text-white" style="text-decoration: none;"><button class="btn btn-info w-100"><i class="fas fa-address-card"></i> Gestion des nouvelles adhésions</button></a>
                </div>
                <div class="card-text mb-2">
                    <a href="{% url 'adherent_search' %}" class="text-white" style="text-decoration: none;"><button class="btn btn-info w-100"><i class="fas fa-search"></i> Rechercher un Amicaliste</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3 shadow hvr-grow w-100">
            <h5 class="card-header bg-primary text-white text-center">Gestion du contenu</h5>
            <div class="card-body">
                <div class="card-text mb-2">
                    <a href="{% url 'global_parameters_update' %}" class="text-white" style="text-decoration: none;"><button class="btn btn-info w-100"><i class="fas fa-cog"></i> Paramètres du site</button></a>
                </div>
                <div class="card-text mb-2">
                    <a href="{% url 'news_list' %}" class="text-white" style="text-decoration: none;"><button class="btn btn-info w-100"><i class="fas fa-newspaper"></i> Page des actualités</button></a>
                </div>
                <div class="card-text mb-2">
                    <a href="{% url 'team_list' %}" class="text-white" style="text-decoration: none;"><button class="btn btn-info w-100"><i class="fas fa-user"></i> Page du bureau</button></a>
                </div>
                <div class="card-text mb-2">
                    <a href="{% url 'partner_list' %}" class="text-white" style="text-decoration: none;"><button class="btn btn-info w-100"><i class="fas fa-handshake"></i> Page des partenariats</button></a>
                </div>
                <div class="card-text mb-2">
                    <a href="{% url 'event_list' %}" class="text-white" style="text-decoration: none;"><button class="btn btn-info w-100"><i class="fas fa-calendar-day"></i> Page des événements</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3 shadow hvr-grow w-100">
            <h5 class="card-header bg-primary text-white text-center">Gestion des clubs</h5>
            <div class="card-body">
                <div class="card-text mb-2">
                    <a href="{% url 'club_list' %}" class="text-white" style="text-decoration: none;"><button class="btn btn-info w-100"><i class="fas fa-hand-scissors"></i> Page des clubs</button></a>
                </div>
                <div class="card-text mb-2">
                    <a href="{% url 'event_management_list' %}" class="text-white" style="text-decoration: none;"><button class="btn btn-info w-100"><i class="fas fa-ticket-alt"></i> Liste des événements</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3 shadow hvr-grow w-100">
            <h5 class="card-header bg-primary text-white text-center">Changement d'année</h5>
            <div class="card-body">
                <div class="card-text mb-2">
                    <a href="{% url 'archived_adherent_search' %}" class="text-white" style="text-decoration: none;"><button class="btn btn-info w-100"><i class="fas fa-book-dead"></i> Anciennes adhésions</button></a>
                </div>
                <div class="card-text mb-2">
                    <a href="{% url 'import_adhesion' %}" class="text-white" style="text-decoration: none;"><button class="btn btn-info w-100"><i class="fas fa-file-upload"></i> Importer des adhésions</button></a>
                </div>
                <div class="card-text mb-2">
                    <a href="{% url 'change_year' %}" class="text-white" style="text-decoration: none;"><button class="btn btn-danger w-100"><i class="fas fa-plus-square"></i> Changement d'année</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-3 m-auto hvr-grow">
        <a href="{% url 'logout' %}" class="btn btn-primary form-control">Déconnexion</a>
    </div>
</div>

{% endblock %}
