{% extends 'base.html' %} 

{% block title %}AEIR - Administration{% endblock %}

{% block content %}

<div class='bg-primary p-3 rounded-lg' style='color: white'>
    <div align='middle'>
        <h2>Attention</h2>
        <p>Vous vous apprêtez à changer d'année. Ceci aura pour effet de <strong>supprimer</strong> les
        adhésions courantes pour les migrer vers les adhésions des <strong>années précédentes</strong>. Assurez
        vous donc de savoir ce que vous faites. <strong>Cette action ne sera pas réversible.</strong> En
        cas de problème, veuillez contacter l'administrateur du site à l'adresse suivante :</p>
        <div><strong>guyard.theo@gmail.com</strong></div>
    </div>
</div>
<div class='row m-3'>
    <div class='col' align='middle'>
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Paser à l'année suivante">
        </form>
    </div>
</div>


{% endblock %}