{% extends 'base.html' %} 

{% block title %}AEIR - Administration{% endblock %}

{% block content %}

<div class="card shadow">
    <h5 class="card-header bg-primary text-white text-center">Liste des événements</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="btn btn-info float-left"><i class="fas fa-list"></i> Nombre d'événements : {{ number }}</div>
            </div>
            <div class="col-md-6">
                <a href="{% url 'event_management_create' %}" class="btn btn-info float-right"><i class="fas fa-plus"></i> Ajouter un événement</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <div class="card shadow-sm">
                    <form method="post">
                        {% csrf_token %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Date</th>
                                <th scope="col" class="text-center">Participants</th>
                                <th scope="col" class="text-center">Préventes</th>
                                <th scope="col" class="text-center">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if object_list %}
                                    {% for obj in object_list %}
                                        <tr>
                                        <td>{{ obj.name }}</td>
                                        <td>{{ obj.date }}</td>
                                        <td class="text-center"><a class="btn btn-sm btn-success" href="{% url 'event_management_participants' obj.pk %}"><i class="fas fa-user-friends"></i> Participants</a></td class="text-center">
                                        <td class="text-center"><a class="btn btn-sm btn-warning" href="{% url 'event_management_prevente' obj.pk %}"><i class="fas fa-ticket-alt"></i> Préventes</a></td class="text-center">
                                        <td class="text-center"><a class="btn btn-sm btn-danger" href="{% url 'event_management_delete' obj.pk %}"><i class="fas fa-trash-alt"></i> Supprimer</a></td class="text-center">
                                        </tr>
                                    {% endfor %}
                                    {% if is_paginated %}
                                    <div class="pagination">
                                        <span class="page-links">
                                        {% if page_obj.has_previous %}
                                        <a href="?page={{ page_obj.previous_page_number }}">Précedent</a> - 
                                        {% endif %}
                                        <span class="page-current">
                                            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
                                        </span>
                                        {% if page_obj.has_next %} -
                                        <a href="?page={{ page_obj.next_page_number }}">Suivant</a>
                                        {% endif %}
                                        </span>
                                    </div>
                                    {% endif %} 
                                {% endif %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
