{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}AEIR - Administration{% endblock %}

{% block content %}

<div class="card shadow">
    <h5 class="card-header bg-primary text-white text-center">Préventes de l'événement {{ object.name }}, le {{ object.date }}</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 pb-3">
                <div class="card shadow-sm">
                    <h6 class="card-header bg-info text-white"><strong>Critères de recherche</strong></h6>
                    <div class="card-body">
                        <form action="" class="form" method="get">
                            {{ filter.form|crispy }}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Rechercher</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form id="add_adherent" method="post">
                <div class="row pb-3">
                    <div class="col-md-4 text-center">
                        <div class="btn btn-sm btn-secondary mb-1"><i class="fas fa-list"></i> Total des participants : {{ object.total_participants }}</div>
                    </div>
                    <div class="col-md-4 text-center">
                        {% if object.surcapacity %}
                        <div class="btn btn-sm btn-danger mb-1"><i class="fas fa-times"></i> Capacité maximale atteinte !</div>
                        {% else %}
                        <div class="btn btn-sm btn-success mb-1"><i class="fas fa-check"></i> Pas de surcapacité</div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-center">
                        <button class="btn btn-sm btn-info" name='non_adherent' type="submit"><i class="fas fa-plus"></i> Ajouter un non-Amicaliste</button>
                    </div>
                </div>
                <div class="card">
                    <div class="table-responsive">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar-preventes">
                                <table class="table table-hover">
                                    <form id="add_adherent" method="post"></form>
                                    {% csrf_token %}
                                    <thead>
                                    <tr>
                                        <th scope="col">Informations</th>
                                        <th scope="col">Photo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if filter.qs %}
                                    {% for obj in filter.qs %}
                                        <tr>
                                        <td><img class='img-fluid img-thumbnail' src="{{ obj.picture.thumbnail.url }}"/></td>
                                        <td class="text-left">
                                            <strong>Nom :</strong> {{ obj.first_name }}
                                            <br>
                                            <strong>Prénom :</strong> {{ obj.last_name }}
                                            <br>
                                            <strong>Date de naissance :</strong> {{ obj.birthday }}
                                            <br>
                                            <strong>Mail :</strong> {{ obj.email }}
                                            <br>
                                            {% if obj.etudiant_insa %}
                                            <strong>Insalien</strong>
                                            {% else %}
                                            <strong>Non Insalien</strong>
                                            {% endif %}
                                            <br>
                                            <strong>Promotion :</strong> {{ obj.promo }}
                                            <br>
                                            <strong>Date d'adhésion :</strong> {{ obj.adhesion_date}}
                                            <br>
                                            <strong>Numéro d'adhérent :</strong> {{ obj.get_number}}
                                            <br>
                                            <br>
                                            <button class="btn btn-sm btn-info" name="card" value="adherent_{{ obj.id }}"><i class="fas fa-plus"></i> Ajouter</button>
                                        </td>
                                        </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr>
                                        <td colspan="10">Aucun résultat ...</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
