{% extends 'base.html' %}

{% block title %}AEIR - Administration{% endblock %}

{% block content %}

<form method="post">
  {% csrf_token %}
  <div class="row justify-content-center">
    <div class="col-md-4">
        <div class="form-group">
            <label for="username">Identifiant</label>
            <input type="text" name="username" class="form-control" required="required"/>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" class="form-control" required="required"/>
        </div>
        <center><label class="text-danger">{{ msg }}</label></center>
        <br />
        <div class="form-group">
            <button class="btn btn-primary form-control"><span class="glyphicon glyphicon-log-in"></span>Connexion</button>
        </div>
    </div>
  </div>
</form>


{% endblock %}
