{% extends 'base.html' %} 

{% block title %}AEIR - Administration{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <strong>Nombre de demandes d'adhésion</strong> : {{ object_list|length }}
    </div>
</div>

<hr>

<div class="card">
    <form method="post">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Mail</th>
                <th scope="col">Status</th>
                <th scope="col">Gestion</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                    {% for obj in object_list %}
                        <tr>
                        <td>{{ obj.first_name }}</td>
                        <td>{{ obj.last_name }}</td>
                        <td>{{ obj.email }}</td>
                        {% if obj.valid_infos %}
                            <td><font color="green">En cours de traitement</font></td>
                        {% else %}
                            <td><font color="red">Demande de modification</font></td>
                        {% endif %}
                        <td><a class="btn btn-sm btn-primary" name="card" href="{% url 'new_adherent_detail' obj.pk %}"><i class="fa fa-address-card"></i> Gérer</a></td>
                        </tr>
                    {% endfor %}
                    {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Précedent</a> - 
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
                        </span>
                        {% if page_obj.has_next %} -
                        <a href="?page={{ page_obj.next_page_number }}">Suivant</a>
                        {% endif %}
                        </span>
                    </div>
                    {% endif %} 
                {% endif %}
            </tbody>
        </table>
    </form>
</div>

{% endblock %}
