{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}AEIR - Bureau{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 m-auto">
        <form enctype='multipart/form-data' method='post'>
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>

{% endblock %}
